div.filename {
  background-color: #292929;
}

pre[class*="language-"] {
  background-color: #151515;
}

.filename {
  border-radius: 0.3em;
}

.ribbon {
  margin-top: 0.33em;
  float: right;
  height: 20px;
  width: 52px;
  background: 0 0 no-repeat;
  background-size: 52px 20px;
}

.filename > span {
  font-family: Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", Courier, monospace;
  font-size: 0.8em;
  color: lightgrey;
  display: block;
  padding: 5px 0 0 10px;
}

.filename.javascript .ribbon,
.filename.js .ribbon {
  background-image: url("/images/ribbon-js.svg");
}

.filename.html .ribbon {
  background-image: url("/images/ribbon-html.svg");
}

.filename.handlebars .ribbon,
.filename.hbs .ribbon {
  background-image: url("/images/ribbon-hbs.svg");
}

code {
  -webkit-font-feature-settings: "kern", "tnum";
  -moz-font-feature-settings: "kern", "tnum";
  -ms-font-feature-settings: "kern", "tnum";
  font-feature-settings: "kern", "tnum";
}

pre[class*="language-"].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em; /* works for line-numbers below 1000 lines */
  letter-spacing: -1px;
  border-right: 1px solid #999;
}

.line-numbers-rows > a {
  display: block;
  counter-increment: linenumber;
  background: none!important;
  text-decoration: none!important;
}

.line-numbers-rows > a:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

.line-numbers-rows > a:hover:before,
.line-numbers-rows > a:focus:before {
  color: #fff;
}
